<div class="grid-x grid-margin-x" style="margin-left: 20px; margin-right: 20px">
	<div class="small-3 cell">
		<strong>Julien Gayraud </strong> <br>
		<strong>Email :</strong> julien_gayraud@hotmail.fr <br>
		<strong>Tél :</strong> 06.41.77.00.54 <br/>
		<strong>Adresse de la boutique :</strong> La rouquette 81440 Peyregoux <br/>
	</div>
	<div class="small-9 cell">
		<agm-map [latitude]="lat" [longitude]="lng" [zoom]="13">
		  	<agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
		</agm-map>
	</div>
</div>
