<my-header></my-header>

<h1>Mon parcours</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At enim veritatis accusantium voluptatibus vero odit, molestias harum non, amet, vitae beatae tempore ipsum. Animi dolor quidem earum ex, nisi, excepturi.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At enim veritatis accusantium voluptatibus vero odit, molestias harum non, amet, vitae beatae tempore ipsum. Animi dolor quidem earum ex, nisi, excepturi.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At enim veritatis accusantium voluptatibus vero odit, molestias harum non, amet, vitae beatae tempore ipsum. Animi dolor quidem earum ex, nisi, excepturi.</p>

<h1>Mes diplômes</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At enim veritatis accusantium voluptatibus vero odit, molestias harum non, amet, vitae beatae tempore ipsum. Animi dolor quidem earum ex, nisi, excepturi.</p>

<my-footer></my-footer>