@import "node_modules/foundation-sites/scss/foundation";

.navbar {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;

}

agm-map {
	width: 500px;
  	height: 500px;
}

.logo {
	height:100px;
	width: auto;
}

.button.brown {
	color: #593821
}

.button.brown:hover {
	color: #8A7363
}

.catcher {
	text-align: center;
	margin-top: 10px;
	font-size: 17px;
	font-family: "Playfair Display",Georgia,serif;
}