<div *ngIf="product">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-4">
                <img src="assets/img/profile/profile_pic.jpg" alt="" class="product-pic" >
            </div>
            <div class="cell auto">
                <h2>{{product.name}}</h2>

                <p>{{product.description}} </p>

                <p>Prix : {{product.price}} euros/kg </p>

                <p>Quantité disponible : {{product.stock}} kg</p>

                <span>Panier : </span>
                <button class="button tiny quantity-button"><i class="fa fa-minus" aria-hidden="true"></i></button>
                <span>0g</span>
                <button class="button tiny quantity-button" (click)="addProduct(product.id)"><i class="fa fa-plus" aria-hidden="true"></i></button>

            </div>
        </div>
    </div>

</div>
