<div class="box">
	<h1>{{parentType}}</h1>
	<div *ngIf="type !==parentType && type">
		PETIT
	</div>

	<a routerLink="/accueil/{{parentType}}" *ngIf="type !== parentType" class="button">Vers les catégories de {{parentType}}</a>

	<my-category-list 
		*ngIf="type == parentType && !category"
	></my-category-list>

	<my-product-list 
		*ngIf="type == parentType && category && !product"
		[category]="category"
	></my-product-list>

	<my-product-description 
		*ngIf="type == parentType  && product"
		[product]="product"
	></my-product-description>

</div>

