<div class="grid-x footer-container">
	<div class="small-3 cell"></div>
	<div class="small-6 text-center	copyright-box align-self-middle cell">
		<span class="align-self-center">
			<i class="fa fa-copyright" aria-hidden="true"></i> Louis Watrin et Aaron Hartnell
		</span>
	</div>
	<div class="small-3 icon-box text-right cell">	
		<span class="follow-text">Suivez moi sur :  </span>
		
		<a href="https://www.facebook.com/GJ-Chocolatier-Confiseur-465419700222504/
	" target="_blank" class="follow-icons button"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
		
		<a class="follow-icons button"><i class="fa fa-instagram" aria-hidden="true"></i></a>
	</div>
</div>