<div class="navbar">
	<a routerLink="/accueil" class="clear button brown large">Accueil</a>
	<a routerLink="/shop/chocolats" class="clear button brown large">Chocolats</a>
	<a routerLink="/shop/confiseries" class="clear button brown large">Confiseries</a>
	<img src="assets/img/logo.jpg" alt="Logo" class="logo">
	<a routerLink="/profil" class="clear button brown large">Profil</a>
	<a routerLink="/contact" class="clear button brown large">Contact</a>
	<a routerLink="/panier" class="clear button brown large">Votre panier</a>

  <a *ngIf="!hasAuthToken()" routerLink="/login" class="clear button brown large">Login</a>
  <a *ngIf="hasAuthToken()" (click)="logout()" href="#" class="clear button brown large">Logout</a>
</div>
