<div class="contentpage">
  <h2>Votre panier</h2>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Références</th>
        <th>Quantité (kg)</th>
        <th>Prix au Kg</th>
        <th>Total HT</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!products">
        <td colspan="4"><div>Aucun articles dans votre panier</div></td>
      </tr>

      <tr *ngFor="let product of products">
        <td>{{ product.name }}</td>
        <td>
          <select class="form-control" (change)="quantityChange(product,$event.target.value)" ng-model="selecteQte" >
            <option *ngFor='let lqte of counter(11) ;let i=index' value="{{i}}" [selected]="i == basket[product.id]">
              {{ i }}
            </option>
          </select>
          <a (click)="deleteformbasket(product.id)"><i class="fa fa-trash" aria-hidden="true"></i></a>
        </td>
        <td>{{ product.pricekg }}</td>
        <td>{{ basket[product.id] * product.pricekg }} € </td>
      </tr>

    </tbody>
  </table>

  <div class="dl-horizontal pull-right">
    <div>Total HT :</div><div>{{ totalHT }} €</div>

    <div>TVA {{(tva*100)}}% :</div><div>{{ tva * totalHT }} €</div>

    <div>Total TTC :</div><div>{{ totalHT + (totalHT * tva) }} €</div>
  </div>
  <div class="clearfix"></div>
  <a routerLink="/commande" class="button type-button pull-right">Valider mon panier</a>

  <a routerLink="/accueil" class="button type-button">Continuer mes achats</a>

<!-- <div class="btn btn-primary" (click)="addProduct(1)">add product 1</div>
<div class="btn btn-primary" (click)="addProduct(12,8)">add product 12 qte 8</div>
<div class="btn btn-primary" (click)="addProduct(10,4)">add product 10 qte 4</div>
<div class="btn btn-primary" (click)="addProduct(4,6)">add product 4 qte 4</div>
<div class="btn btn-primary" (click)="getBasket()">getBasket</div>
<div class="btn btn-primary" (click)="clearSession()">clearSession</div> -->
