<div class="grid-x grid-margin-x align-center grid-padding-x align-middle">
	<div class="shrink cell">
		<small>Découvrez l'univers gourmand et raffiné de Julien Gayraud</small>
	</div>
</div>

<div [hidden]="!error" class="alert alert-danger" role="alert">
  <span class="glyficon glificon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  {{ error }}
</div>

<div class="grid-xy">
	<my-nav-tree *ngFor="let type of types" [parentType]="type.type"></my-nav-tree>
</div>
